.nodeteeselector {
  width: 100%;
  padding: 1rem;
}

.nodeteeselector .electnode_l1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nodeteeselector .electnode_l1 .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--textprimary);
}

.nodeteeselector .electnode_l1 .title_loc {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--textprimary);
}

.nodeteeselector .electnode_l1 .title_loc span {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--textsecondary);
}

.nodeteeselector .electnode_l2 {
  padding-bottom: 0.75rem;
  border: 1px solid var(--divider);
  border-left: 0;
  border-right: 0;
  margin-top: 1rem;
}

.nodeteeselector .electnode_l2 p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.0125rem;
  margin-top: 0.75rem;
  font-size: 0.875rem;
  color: var(--textprimary);
}

.nodeteeselector .electnode_l2 p span {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--textsecondary);
}

.nodeteeselector .electnode_l3 {
  margin-top: 1rem;
}

.nodeteeselector .electnode_l3 p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.0125rem;
  font-size: 0.875rem;
  color: var(--textprimary);
}

.nodeteeselector .electnode_l3 p span {
  font-weight: 600;
  color: var(--textsecondary);
}

.nodeteeselector .electtee {
  padding: 0.5rem;
  padding-right: unset;
  padding-left: unset;
  border-radius: 0.5rem;
}

.nodeteeselector .electtee .status_country {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nodeteeselector .electtee .status_country .status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.125rem;
}

.nodeteeselector .electtee .status_country .status label {
  font-size: 0.875rem;
  color: var(--textprimary);
}

.nodeteeselector .electtee .status_country .status label .usercount {
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  color: var(--textsecondary);
  margin-left: 0.25rem;
}

.nodeteeselector .electtee .status_country .status span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  padding: 0.075rem 0.375rem 0.075rem 0.25rem;
  border-radius: 1rem;
  background-color: var(--success);
  color: var(--textprimary);
  font-size: 0.625rem;
  font-weight: bold;
  text-transform: capitalize;
}

.nodeteeselector .electtee .country {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.nodeteeselector .electtee .country .flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--textprimary);
}

.nodeteeselector .electtee .country .name {
  font-size: 0.625rem;
  font-weight: 400;
  color: var(--textsecondary);
}

.nodeteeselector .electtee .desc {
  margin: 1rem 0;
  padding: 0.5rem 0;
  border: 1px dashed var(--divider);
  border-left: 0;
  border-right: 0;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--textprimary);
}

.nodeteeselector .electtee .specs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}

.nodeteeselector .electtee .specs div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 48.5%;
  padding: 0.25rem;
  padding-left: 0.5rem;
  border-radius: 0.25rem;
  flex: 0 0 auto;
  background-color: var(--divider);
}

.nodeteeselector .electtee .specs div p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.75rem;
  color: var(--textprimary);
}

.nodeteeselector .electtee .specs div p span {
  font-weight: 500;
  font-size: 0.875rem;
}

.nodeteeselector button {
  width: 100%;
  border: 0;
  margin-top: 0.75rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  outline-color: transparent;
  color: var(--textprimary);
  background-color: var(--danger);
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}
