.tee {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--divider);
}

.tee .status_country {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tee .status_country .status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.125rem;
}

.tee .status_country .status label {
  font-size: 0.875rem;
}

.tee .status_country .status label .usercount {
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  color: var(--textsecondary);
  margin-left: 0.25rem;
}

.tee .status_country .status span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  padding: 0.075rem 0.375rem 0.075rem 0.25rem;
  border-radius: 1rem;
  background-color: var(--success);
  font-size: 0.625rem;
  font-weight: bold;
  text-transform: capitalize;
}

.tee .country {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.tee .country .flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--textprimary);
}

.tee .country .name {
  font-size: 0.625rem;
  font-weight: 400;
  color: var(--textsecondary);
}

.tee .desc {
  margin: 1rem -0.5rem;
  padding: 0.5rem;
  border: 1px dashed var(--divider);
  border-left: 0;
  border-right: 0;
  font-size: 0.875rem;
  font-weight: 600;
}

.tee .specs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}

.tee .specs div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 48.5%;
  padding: 0.25rem;
  padding-left: 0.5rem;
  border-radius: 0.25rem;
  flex: 0 0 auto;
  background-color: var(--divider);
}

.tee .specs div p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.75rem;
}

.tee .specs div p span {
  font-weight: 500;
  font-size: 0.875rem;
}
