@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#appbar {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2.75rem;
  padding: 0.375rem 1rem;
  border-bottom: 1px solid rgba($color: colors.$divider, $alpha: 0.25);
  background-color: colors.$primary;
  z-index: 1000;

  .accounswitch {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
    height: 100%;
    padding: 0.25rem 0.375rem;
    padding-right: 0.5rem;
    border-radius: 0.375rem;
    background-color: rgba($color: colors.$divider, $alpha: 0.25);

    img {
      width: 1.625rem;
      height: 1.625rem;
      border-radius: 50%;
    }

    span {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
      font-size: 0.75rem;
      font-weight: 600;
    }
  }
}
