@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

.outputs {
  @include mixins.useFlex(column, nowrap, center, center, 0.5rem);
  width: 100%;
  height: 100%;

  p {
    @include mixins.useBaseFont();
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
  }

  button {
    @include mixins.useButton();

    & {
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.25rem;
      background-color: colors.$accent;
      font-size: 0.875rem;
      color: colors.$textprimary;
    }
  }
}
