#appheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#appheader .copyaddr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  min-width: fit-content;
  padding: 0.125rem 2rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  border-radius: 2rem;
  background-color: var(--divider);
  color: var(--textprimary);
}

#appheader .copyaddr span {
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 600;
  color: var(--textprimary);
}

#appheader .copyaddr img {
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
  object-position: center;
}
