#refer_earn {
  width: 95%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 3rem;
  height: 3rem;
  object-position: center;
  object-fit: contain;
}

#refer_earn .title,
#refer_earn .hiw,
#refer_earn .desc {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--textprimary);
}

#refer_earn .desc {
  width: 70%;
  margin: unset;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center;
  color: var(--textsecondary);
}

#refer_earn .hiw {
  width: 100%;
  margin-top: unset;
  padding-left: unset;
  font-size: medium;
  font-weight: 300;
}

#refer_earn .divider {
  width: 100%;
  height: 1px;
  border: 1px dashed var(--divider);
  margin: 0.5rem 0;
}

#refer_earn .steps {
  width: 100%;
}

#refer_earn .steps div,
#refer_earn .steps div .count,
#refer_earn .steps div p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

#refer_earn .steps div {
  align-items: center !important;
  width: 100%;
  height: 4rem;
  margin-top: unset;
}

#refer_earn .steps div .count {
  justify-content: center;
  gap: unset;
  margin: unset;
  width: 2.75rem;
  height: 2.75rem;
  border: 1px dashed var(--divider);
  border-radius: 50%;
  font-weight: 400;
  color: var(--textprimary);
}

#refer_earn .steps div p {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: unset;
  margin-top: unset;
  color: var(--textprimary);
  font-size: 0.875rem;
}

#refer_earn .steps div p span {
  font-size: 0.75rem;
  color: var(--textsecondary);
}

#refer_earn button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 2.5rem;
  padding: 0.25rem;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
  outline: none;
  outline-color: transparent;
  color: var(--textprimary);
}

#refer_earn .copylink {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  color: var(--textsecondary);
  background-color: rgba(248, 250, 252, 0.05);
}

#refer_earn .copylink span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0 0.5rem;
  border-left: 1px solid var(--divider);
  color: var(--textprimary);
}

#refer_earn .send_tg {
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  background-color: var(--danger);
}
