#walletbalance {
  padding: 0.5rem 1rem;
}

#walletbalance .bal {
  font-size: small;
  font-weight: 600;
  color: var(--textsecondary);
}

#walletbalance .balinusd {
  font-family: "Raleway", serif;
  font-size: 2.25rem;
  font-weight: 600;
}

#walletbalance .balinusd span {
  margin-left: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: var(--textsecondary);
}
