#walletbalance {
  padding: 0.5rem 1rem;
}

#walletbalance .bal {
  font-size: small;
  font-weight: 600;
  color: var(--textsecondary);
}

#walletbalance .balinusd {
  margin-bottom: 0.5rem;
  font-family: "Raleway", serif;
  font-size: 2.25rem;
  font-weight: 600;
}

#walletbalance ._asset {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0.375rem 1rem;
  border-top: 1px solid var(--divider);
  font-size: 0.875rem;
  font-weight: 500;
}
