.lentasset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.875rem;
  border: 1px solid var(--divider);
  border-radius: 0.375rem;
  padding-left: 0.375rem;
}

.lentasset .li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
  padding: 0.25rem 0;
}

.lentasset .li .asset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.lentasset .li .asset img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  object-position: center;
}

.lentasset .li .asset .owner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.125rem 0.25rem;
  border-radius: 1rem;
  font-size: 0.625rem;
  font-weight: 600;
  background-color: var(--divider);
}

.lentasset .li .asset .amount {
  font-size: 0.875rem;
  font-weight: bold;
}

.lentasset .li .asset .amount span {
  font-size: 0.625rem;
  font-weight: 300;
  color: var(--textsecondary);
}

.lentasset .li .yields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 100%;
}

.lentasset .li .yields .dist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.lentasset .li .yields p {
  font-size: 0.75rem;
}

.lentasset .li .yields p span {
  font-weight: 600;
  font-size: 0.75rem;
}

.lentasset .useasset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: 6rem;
  height: 100%;
  border-radius: 0 0.375rem 0.375rem 0;
  background-color: var(--divider);
  color: var(--textprimary);
}

.lentasset .useasset .util {
  font-size: 0.75rem;
}
