.borrowedsecret {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.75rem;
  border: 1px solid var(--divider);
  border-radius: 0.375rem;
  padding-left: 0.375rem;
}

.borrowedsecret .li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  padding: 0.25rem 0;
}

.borrowedsecret .li img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.borrowedsecret .li .asset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: 100%;
}

.borrowedsecret .li .asset .owner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.125rem 0.25rem;
  border-radius: 1rem;
  font-size: 0.625rem;
  font-weight: 600;
  background-color: var(--divider);
}

.borrowedsecret .li .asset .amount {
  font-size: 0.875rem;
  font-weight: bold;
}

.borrowedsecret .li .asset .amount span {
  font-size: 0.625rem;
  font-weight: 300;
  color: var(--textsecondary);
}

.borrowedsecret .li .asset .fee {
  font-family: "Raleway", serif;
  font-size: 0.75rem;
  font-weight: 600;
}

.borrowedsecret .useasset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: 6rem;
  height: 100%;
  border-radius: 0 0.375rem 0.375rem 0;
  background-color: var(--divider);
  color: var(--textprimary);
}

.borrowedsecret .useasset .util {
  font-size: 0.75rem;
}
