@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#importawxkey {
  @include mixins.useFlex(column, nowrap, center, center, 0);
  width: 100vw;
  height: 80vh;
  padding: 1rem;

  img {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    object-fit: contain;
    object-position: center;
  }

  .about {
    margin-top: 1rem;

    p {
      text-align: center;
      font-size: 0.875rem;
      color: colors.$textprimary;
    }

    .desc {
      margin-top: 0.25rem;
      color: colors.$textsecondary;
    }
  }
}
