$surface: #e9f1f4;
$surfacesubtle: #ffffff;
$surfacealt: #f8f9fa;
$textdefault: #1f2d3a;
$textsubtle: #4a5568;
$accentprimary: #2e8c96;
$accentsecondary: #2a7a84;
$success: #30a46c;
$warning: #ffd13f;
$danger: #e54d2e;
$tintpurple: #e2dffe;
$tintsuccess: #adddc0;
$tintwarning: #ffffc4;
$tintdanger: #ffdadc;
