@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#tgpremium {
  padding: 1rem;

  .title {
    font-size: 1.25rem;
    text-align: center;

    span {
      font-size: 0.625rem;
      font-weight: 600;
    }
  }

  .icon_ctr {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 100%;
    margin-top: 1rem;

    .img {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      border-radius: 50%;
      transform: translate(2.5rem, -1.5rem);
      background-color: colors.$textprimary;
    }

    span {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      width: 6rem;
      height: 6rem;
      border: 2px solid colors.$divider;
      border-radius: 50%;

      img {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }

  .updgrade_downgrade {
    @include mixins.useFlex(column, nowrap, center, center, 0);
    margin-top: 1rem;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    color: colors.$textsecondary;

    span {
      font-size: 0.875rem;
      font-weight: 300;
      color: colors.$textprimary;
    }
  }

  .duration {
    @include mixins.useFlex(column, nowrap, center, center, 0.5rem);
    margin-top: 1rem;

    .cost {
      @include mixins.useAltFont();
      font-size: 1.5rem;
      font-weight: 600;

      span {
        @include mixins.useBaseFont();
        font-size: 0.75rem;
        font-weight: 300;
      }
    }

    .save {
      font-size: 0.75rem;

      span {
        @include mixins.useAltFont();
        font-weight: 500;
      }
    }

    .buttons {
      @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
      padding: 0.25rem 0.375rem;
      border: 1px solid colors.$divider;
      border-radius: 1rem;

      button {
        @include mixins.useButton();
        padding: 0.25rem 0.75rem;
        border-radius: 1rem;
        font-size: 0.75rem;
        font-weight: 500;
        color: colors.$textsecondary;
        background-color: colors.$divider;
      }

      .sel_duration {
        color: colors.$textprimary;
        background-color: colors.$accent;
      }
    }
  }

  .cta_ctr {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .pay_options {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      margin-bottom: 0.75rem;
      padding-bottom: 0.75rem;
      border-bottom: 1px solid colors.$divider;

      p {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        font-size: 0.875rem;

        span {
          font-size: 0.75rem;
          color: colors.$textsecondary;
        }
      }

      .currency_picker {
        padding: 0.25rem 0.5rem;
        border: 1px solid colors.$divider;
        border-radius: 0.25rem;
        font-size: 0.75rem;
        font-weight: bold;
        background-color: colors.$divider;
      }
    }

    .total {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);

      p {
        font-size: 0.875rem;
      }

      span {
        @include mixins.useAltFont();
        font-size: 0.75rem;
        font-weight: 500;
      }
    }

    .getpremium {
      @include mixins.useButton();
      @include mixins.useBaseFont();
      width: 100%;
      margin-top: 1rem;
      padding: 0.5rem;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      font-weight: 600;
      color: colors.$textprimary;
      background-color: colors.$accent;
    }
  }
}
