#signupc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

#signupc .loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}

#signupc .p0 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
}

#signupc .submitauth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  background-color: var(--accent);
  color: var(--textprimary);
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  cursor: pointer;
}

#signupc .submitauth:disabled {
  cursor: not-allowed;
}

#signupc .login {
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  color: var(--accent);
  text-decoration: underline;
  background-color: transparent;
  border: 0;
  outline: none;
  outline-color: transparent;
}
