#importkey {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#importkey img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  object-position: center;
}

#importkey .title {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  color: var(--textprimary);
}

#importkey .keyutil {
  width: 100%;
}

#importkey .keyutil p {
  padding: unset;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
}

#importkey button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--textprimary);
  background-color: var(--danger);
  border-radius: 0.25rem;
  cursor: pointer;
}

#importkey button:disabled {
  cursor: not-allowed;
  background-color: var(--divider);
}

#importkey .learnmore {
  width: 100%;
  text-align: left;
  padding-left: unset;
  font-size: 0.875rem;
  color: var(--textsecondary);
}
