
.premium-features-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  /* background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%); */
  color: var(--textprimary);
}

.premium-header {
  text-align: center;
  margin-bottom: 2rem;
}

.premium-header h1 {
  font-size: 2.5rem;
  color: var(--secondary);
  margin-bottom: 0.5rem;
}

.premium-tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.premium-tabs button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  color: var(--secondary);
}

.premium-tabs button.active {
  background-color: var(--danger);
  color: var(--textprimary);
}

.premium-features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
}

.premium-feature-card {
  border: 2px solid var(--divider);
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--divider);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.premium-feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.feature-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.feature-description {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  color: var(--textsecondary);
}

.feature-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary);
  margin-bottom: 1rem;
}

.feature-benefits ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 5px;
}

.feature-benefits li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--textsecondary);
  font-size: 0.875rem;
}

.subscribe-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 10px;
  background-color: var(--danger);
  color: var(--textPrimary);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color: color-mix(in srgb, var(--danger) 90%, white);
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .premium-features-grid {
    grid-template-columns: 1fr;
  }
}