#authorise {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#authorise .title {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  color: var(--textprimary);
}

#authorise .timevalidlabel,
#authorise .valid_minutes,
#authorise .noexpiry p {
  width: 100%;
  margin-top: 0.75rem;
  padding-left: unset;
  text-align: left;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--textprimary);
}

#authorise .timevalidlabel span,
#authorise .noexpiry span {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--textsecondary);
}

#authorise .valid_minutes {
  font-weight: 300;
}

#authorise .noexpiry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

#authorise .noexpiry p {
  width: 100%;
  margin: unset;
  padding: unset;
  text-align: left;
}

#authorise button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--textprimary);
  background-color: var(--danger);
  border-radius: 0.25rem;
  cursor: pointer;
}

#authorise button:disabled {
  cursor: not-allowed;
  background-color: var(--divider);
}

#authorise .keyshare {
  width: 100%;
  margin-top: 1rem;
  padding: unset;
  text-align: left;
  font-size: small;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: var(--textsecondary);
}

#authorise .keyshare span {
  font-weight: 600;
  color: var(--textprimary);
}

#authorise .learnmore {
  width: 100%;
  text-align: left;
  padding-left: unset;
  font-size: 0.875rem;
  color: var(--textsecondary);
}
