@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#signup {
  @include mixins.useFlex(column, nowrap, flex-end, center, 0);
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: colors.$primary;
}
