#sendasset {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sendasset img {
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
}

#sendasset .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: fit-content;
  padding: 0.125rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--textsecondary);
  background-color: var(--divider);
}

#sendasset p {
  text-align: center;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.875rem;
  color: var(--textprimary);
}

#sendasset .availablebalance {
  width: 100%;
  padding: unset;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: right;
}

#sendasset button {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--textprimary);
  background-color: var(--danger);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}

#sendasset button:disabled {
  background-color: var(--textsecondary);
  cursor: not-allowed;
}
