@use "./constants/colors" as _colors;
@use "./constants/mixins" as _mixins;

*,
*::before,
*::after {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  @include _mixins.useBaseFont();
  width: 100vw;
  height: 100vh;
  background-color: _colors.$primary;
}

::-webkit-scrollbar {
  display: none;
}
