@use "./contants/colors" as colors;
@use "./contants/mixins" as mixins;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  @include mixins.usebasefont();
  color: colors.$text_primary;
  font-weight: 300;
  background-color: colors.$bg_primary;
}

a {
  outline: none;
  outline-color: transparent;
}

::-webkit-scrollbar {
  display: none !important;
}
