@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.verifytransaction {
  width: 100%;
  padding: 1rem;
  color: colors.$textprimary;

  .verifymessage {
    margin-bottom: 1rem;
    padding: 0 2rem;
    font-size: 0.875rem;
    text-align: center;
  }

  .submit-otp {
    @include mixins.useButton();

    & {
      @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
      width: 100%;
      margin-top: 1.75rem;
    }
  }

  .submsg {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: colors.$textsecondary;
  }
}
