@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#bottomtab {
  @include mixins.useFlex(row, nowrap, center, center, 3rem);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.625rem;
  padding: 0.75rem 0;
  background-color: colors.$primary;

  button {
    @include mixins.useFlex(column, nowrap, center, center, 0.125rem);
    @include mixins.useButton();

    span {
      font-size: 0.625rem;
      font-weight: 500;
      text-align: center;
    }
  }
}
