#earntab {
  margin-bottom: 6rem;
}

#earntab .title {
  padding: 1rem;
  padding-bottom: unset;
  font-size: 1.5rem;
  font-weight: 400;
}

#earntab .yt_title {
  margin-top: 0.75rem;
  padding: 0 1rem;
  font-size: 0.875rem;
  font-weight: 400;
}

#earntab .stakings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 1rem;
  padding: 0 0.5rem;
}

#earntab .stakings .stake {
  width: 80vw;
  height: 8.375rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 0.625rem;
  padding: 0.5rem;
  padding-bottom: unset;
  border-radius: 0.25rem;
  background-color: var(--divider);
}

#earntab .stakings .stake .stakedetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

#earntab .stakings .stake .stakedetails img {
  width: 3rem;
  height: 3rem;
}

#earntab .stakings .stake .stakedetails div .token_name {
  font-size: 0.875rem;
  font-weight: 500;
}

#earntab .stakings .stake .stakedetails div .token_name span {
  font-size: 0.75rem;
  color: var(--textsecondary);
}

#earntab .stakings .stake .stakedetails div .min_deposit {
  font-weight: 600;
  font-size: 0.875rem;
}

#earntab .stakings .stake .stakedetails div .lockup {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
}

#earntab .stakings .stake button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.75rem;
  border: 0;
  border-top: 1px dashed var(--divider);
  border-radius: 0 0 0.25rem 0.25rem;
  outline: none;
  outline-color: transparent;
  color: var(--textprimary);
  background-color: transparent;
}

#earntab .lendtospend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.625rem;
  margin: 1rem;
  padding: 0.75rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--divider);
}

#earntab .lendtospend img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  object-position: center;
}

#earntab .lendtospend p {
  font-size: 0.875rem;
  font-weight: 400;
}

#earntab .lendtospend p span {
  font-weight: 300;
  font-size: 0.75rem;
  color: var(--textsecondary);
}
