@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#hometab {
  @include mixins.useTabsHeight();

  & {
    margin-top: 2.75rem;
    padding-top: 0.5rem;
  }

  .actions {
    @include mixins.useFlex(row, nowrap, center, flex-start, 1.5rem);
    margin-top: 1rem;
    width: 100%;
  }

  .search-assets {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    margin: 1rem 0;
    padding: 0.75rem 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba($color: colors.$divider, $alpha: 0.15);

    .placeholder {
      font-size: 0.875rem;
      font-weight: bold;
      color: colors.$textsecondary;
    }
  }
}
