#labstab {
  margin-bottom: 6rem;
}

#labstab .title {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

#labstab .projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}

#labstab .projects .project {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--divider);
}

#labstab .projects .project img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  object-position: center;
}

#labstab .projects .project .about p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  font-weight: 500;
}

#labstab .projects .project .about span {
  margin-top: 0.25rem;
  font-size: 0.87rem;
  color: var(--textsecondary);
}
