#markettab {
  margin-top: 0.75rem;
}

#markettab .skeletons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
}

#markettab #coins {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}

#markettab #coins .coin {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#markettab #coins .coin #l_00 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}

#markettab #coins .coin #l_00 img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
}

#markettab #coins .coin #l_00 .name_symbol .name {
  font-weight: 600;
}

#markettab #coins .coin #l_00 .name_symbol .symbol {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--textsecondary);
}

#markettab #coins .coin .curr_price {
  width: 6rem;
  text-align: right;
}
