@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.profiletab {
  .pic_uname {
    @include mixins.useFlex(column, nowrap, center, center, 0.625rem);
    width: 100%;
    padding: 1rem;
    margin-top: 1.25rem;

    p {
      text-align: center;
    }

    .uid {
      margin-top: 0.25rem;
      font-size: 0.75rem;
      font-weight: bold;
    }
  }

  .earn {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.75rem);
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: rgba($color: colors.$divider, $alpha: 0.025);

    img {
      width: 2rem;
      height: 2rem;
    }

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.125rem);
      font-size: 0.875rem;
      font-weight: bold;
    }

    span {
      font-size: 0.75rem;
      font-weight: 300;
      color: colors.$textsecondary;
    }
  }

  .l_earn {
    margin-top: 0.5rem;
  }

  .airwallex {
    position: absolute;
    right: 1rem;
    bottom: 4.5rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid colors.$divider;
    border-radius: 50%;
    background-color: colors.$accent;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}
