#securitytab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 96vh;
}

#securitytab .aboutsec {
  padding: 0 1rem;
}

#securitytab .aboutsec .title,
#securitytab .aboutsec .desc {
  text-align: center;
}

#securitytab .aboutsec .title {
  font-size: 1.25rem;
}

#securitytab .aboutsec .desc {
  font-size: 0.875rem;
  color: var(--textsecondary);
}

#securitytab .aboutsec .desc_footer {
  margin-top: 0.5rem;
}

#securitytab .aboutsec .descmsg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  margin-top: 1rem;
  padding: 0.5rem 0;
  border: 1px solid var(--divider);
  border-left: 0;
  border-right: 0;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
}

#securitytab .aboutsec .get {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  margin: 0.625rem -1rem;
  padding: 0.625rem 1rem;
  background-color: var(--divider);
}

#securitytab .aboutsec .get img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  object-position: center;
}

#securitytab .aboutsec .get p {
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
}

#securitytab .aboutsec .get span {
  font-size: 0.75rem;
  color: var(--textsecondary);
}

#securitytab .aboutsec .setup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  outline: none;
  outline-color: transparent;
  background-color: var(--danger);
  color: var(--textprimary);
}
