#vaulttab {
  margin-bottom: 6rem;
  padding: 0 1rem;
}

#vaulttab .bal-actions {
  border-radius: 0.5rem;
  border: 1px solid var(--divider);
}

#vaulttab .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: no-wrap;
  gap: 0.5rem;
  padding: 0.25rem;
  border-top: 1px solid var(--divider);
}

#vaulttab .actions button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 50%;
  padding: 0.75rem;
  background-color: transparent;
  border: 1px solid var(--divider);
  border-radius: 0.25rem;
  color: var(--textprimary);
}

#vaulttab .actions .send {
  color: var(--accent);
}

#vaulttab .actions .receive {
  color: var(--success);
}

#vaulttab .actions button span {
  font-weight: 600;
}

#vaulttab .actions #share button {
  background: var(--danger);
}

#vaulttab .actions #sendfromtoken button {
  background-color: var(--divider);
}

#vaulttab #share {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: 2.5rem;
  border: 1px solid var(--danger);
  border-radius: 0.25rem;
}

#vaulttab #share .divider {
  width: 1px;
  height: 100%;
  border: 1px solid var(--danger);
}

#vaulttab #share button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 100%;
  padding: 0.5rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  border-radius: 0.25rem;
  background-color: transparent;
}

#vaulttab #secrets_import {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
}

#vaulttab #secrets_import p {
  font-size: 1.5rem;
  font-weight: bold;
}

#vaulttab #secrets_import .importsecret {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
}

#vaulttab .secret_tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#vaulttab .secret_tabs button {
  padding: 0.25rem;
  border: 0;
  border-bottom: 1px solid var(--primary);
  outline: none;
  outline-color: transparent;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  color: var(--textsecondary);
  background-color: transparent;
  transition: all ease-in-out 0.25s;
}

#vaulttab .secret_tabs .select_tab {
  border-color: var(--textprimary);
  color: var(--textprimary);
}

#vaulttab .nokeys {
  font-size: 0.75rem;
  text-align: center;
  color: var(--textsecondary);
}

#vaulttab .avatrctr {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.125rem;
  border-radius: 50%;
}

.refresh_ctr {
  width: 100%;
  height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
