@use '../../constants/colors' as colors;
@use '../../constants/mixins' as mixins;

#launchpadinfo {
    margin-bottom: 4rem;

    .not_available {
        margin-top: 0.5rem;
        text-align: center;
        font-size: 0.875rem;
        color: colors.$textsecondary;
    }

    .about_token {
        @include mixins.useFlex(column, nowrap, center, center, 0);
        padding: 0.5rem 1rem;
        padding-bottom: 0.25rem;

        .token_img {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
        }

        .link {
            @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
            font-size: 1.25rem;
            color: colors.$textprimary;
            text-decoration: none;
        }

        .desc {
            width: 100%;
            margin-top: 0.375rem;
            font-size: 0.75rem;
            text-align: left;
        }
    }

    .filters {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0.75rem);
        padding: 0 1rem;
        border-bottom: 1px solid colors.$divider;

        button {
            @include mixins.useButton();
            @include mixins.useBaseFont();
            padding: 0.375rem 0.625rem;
            border-bottom: 2px solid transparent;
            font-weight: 600;
            color: colors.$textsecondary;

            &.active {
                color: colors.$textprimary;
                border-bottom-color: colors.$textprimary;
            }
        }
    }

    .about_token_info {
        padding: 0 1rem;
        margin-top: 0.875rem;

        .details_ctr {
            @include mixins.useFlex(row, wrap, flex-start, space-between, 0.375rem);
        }
    }

    .products_ctr {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.5rem);
        margin-top: 0.875rem;
        padding: 0 1rem;
    }

    .submit_ctr {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.5rem 1rem;
        border-top: 1px solid colors.$divider;
        background-color: colors.$primary;
        z-index: 1000;
    }
}

.tokeninfo {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.625rem);

    img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    .address_price {
        .symbol {
            @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
            font-size: 0.875rem;
            font-weight: bold;
            color: colors.$textsecondary;
        }

        .price {
            @include mixins.useFlex(row, nowrap, flex-end, flex-end, 0.5rem);
            @include mixins.useAltFont();
            font-size: 1rem;

            span {
                font-size: 0.75rem;
                font-weight: 600;
                color: colors.$success;
            }
        }
    }
}

.token_detail {
    @include mixins.useFlex(column, nowrap, center, center, 0);
    width: 49%;
    padding-bottom: 0.375rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .icon {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        width: 3rem;
        height: 2.5rem;
    }

    .det_title {
        margin-top: 0.375rem;
        font-size: 0.75rem;
        font-weight: bold;
    }

    .value {
        @include mixins.useAltFont();
        font-size: 1rem;
    }
}

.top_product {
    border: 1px solid colors.$divider;
    border-radius: 0.75rem;
    background-color: colors.$divider;

    .img_sales {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0.625rem);
        padding: 0.375rem;
        border-bottom: 1px solid colors.$divider;


        img {
            width: 4rem;
            height: 4rem;
            border-radius: 0.5rem;
        }

        .sales {
            @include mixins.useFlex(row, nowrap, center, flex-start, 1.5rem);

            p {
                @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
                font-size: 0.75rem;
                font-weight: bold;
                color: colors.$textsecondary;

                span {
                    @include mixins.useAltFont();
                    font-size: 1rem;
                    font-weight: 500;
                    color: colors.$textprimary;
                }
            }
        }
    }

    .sku_desc {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        padding: 0.25rem 0.375rem;
        font-size: 0.75rem;
        font-weight: bold;

        span {
            font-weight: 300;
        }
    }
}