@use "../../../styles/constants/colors" as colors;
@use "../../../styles/constants/mixins" as mixins;

#mobilenav {
  @include mixins.flexmixin(row, nowrap, center, center, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  border-top: 1px solid colors.$divider;

  @include mixins.tablet-upwards() {
    display: none !important;
  }
}
