.chatinput,
.chatinput .submitprompt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.25rem;
}

.chatinput {
  width: 96%;
  padding: 0.375rem;
  border: 1px solid var(--divider);
  border-radius: 0.625rem;
  position: fixed;
  bottom: 0.25rem;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  background-color: var(--primary);
  box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.125);
  z-index: 4000;
}

.chatinput .promptinput {
  width: 100%;
  min-height: 6rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  resize: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: var(--textprimary);
  background-color: transparent;
}

.chatinput .promptinput::placeholder {
  color: var(--textsecondary);
}

.chatinput .submitprompt {
  align-items: center;
  justify-content: center;
  gap: unset;
  width: 2.25rem;
  height: 2.25rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  border-radius: 0.5rem;
  position: absolute;
  background-color: var(--accent);
}

.chatinput .submitprompt:disabled {
  background-color: var(--textsecondary);
}
