.botmessage {
  width: 100%;
}

.usermessage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.25rem;
  width: 100%;
}

.usermessage p {
  width: fit-content;
  max-width: 80%;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  background-color: var(--accent);
}

.botmessage p {
  width: fit-content;
  max-width: 80%;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  background-color: var(--divider);
}
