.botmessage {
  width: 100%;
}

.usermessage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.25rem;
  width: 100%;
}

.usermessage p {
  width: fit-content;
  max-width: 80%;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  background-color: var(--accent);
}

.botmessage span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.botmessage span img {
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  object-fit: contain;
  object-position: center;
  background-color: var(--textprimary);
}

.botmessage p {
  width: fit-content;
  max-width: 80%;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  background-color: rgba(248, 250, 252, 0.05);
}
